<form class="form" action="" method ="POST" enctype="application/x-www-form-urlencoded">
  <div class="well">
    <fieldset>
      <legend class="i18n">mschema form</legend>
      <div class="inputs"></div>
      <div class="control-group">
        <label class="control-label" for="resource_name"></label>
        <div class="controls">
          <!-- 
          <div class="input-prepend">
            <span class="add-on"></span>
          </div>
          -->
          <button name="submitted" class="btn btn-primary" type="submit" tabindex="1">Submit</button>
          <span class="help-inline"></span>
        </div>
      </div>
    </fieldset>
  </div>
</form>