<form class="form form-create" action="" method ="POST" enctype="application/x-www-form-urlencoded">
  <div class="well">
    <fieldset>
      <legend>mschema form</legend>
      <div class="inputs"></div>
      <div class="control-group">
        <label class="control-label" for="resource_name"></label>
        <div class="controls">
          <!-- 
          <div class="input-prepend">
            <span class="add-on"></span>
          </div>
          -->
          <input class="btn" type="submit" tabindex="1" value="Submit"/>
          <span class="help-inline"></span>
        </div>
      </div>
      
    </fieldset>
  </div>
</form>